<title>Player names (post)</title>
<h1>F I G H T </h1>
<h2>Current turn: <%= $game.current_turn %></h2>

<%= $game.player_one.name %> vs. <%= $game.player_two.name %>
<p> <%= $game.player_one.name %> HP: <%= $game.player_one.hp %> </p>
<p> <%= $game.player_two.name %> HP: <%= $game.player_two.hp %> </p>

<a href='/confirmation_two'>attack player two</a>
<a href='/confirmation_one'>attack player one</a>
